.rows {
  width: 80%;
}

.cards-body {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  transition: 0.5s;
}

.cards-body:hover {
  background: rgba(79, 155, 255, 0.279);
}
.cards-body h5 {
  color: rgb(255, 255, 255);
  transform: translateX(-50%);
  bottom: 0;
  left: 50%;
  position: absolute;
  opacity: 0;
  width: 100%;
  transition: 0.5s;
}
.cards-body:hover h5 {
  bottom: 49%;
  opacity: 1;
}
